html, body {
	background-color: lightgrey;
	text-align: center;
	float:left;

}

#content {
	clear: none;
	float: left;
	margin: 100px auto;
	position: relative;

	left: 30%;
}


.panel {
	float: left;
	position: relative;
	margin: 0 10px 0 10px;

}

.city {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #444;
}

.digital {
	margin-top: 10px;
}