body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,
h6,pre,form,fieldset,input,p,blockquote,table,
th,td { margin: 0; padding: 0; }
fieldset,img,abbr { border: 0; }
address,caption,cite,code,dfn,em,h1,h2,h3,
h4,h5,h6,strong,th,var { font-style: normal; font-weight: normal; }
caption,th { text-align: left; }
q:before,q:after { content: ''; }
a { text-decoration: none; }

body { 
	background-image: url(../images/bg.png);
}

a, a:visited, a:active, a:link {
	color: #3478e3;
}

a:hover {
	color: #d54e21;
}

#stage {
	font-family: 'IM Fell Great Primer', Georgia, serif;
	font-size: 24px;
	margin-top: 40px;
	margin-left: 10%;
}

#article {
	margin-left: 40px;
}

.heading {
	font-size: 1.1em;
	font-weight: 900;
	color: #1E90FF;
	margin: 22px 0 14px 0;

}

.section {
	background-image: url(../images/section.png);
	background-repeat: no-repeat;
	height: 30px;
	margin: 1em 0 0 6em;
	clear:both;
}

#article p {
	font-size: 24px;
	width: 27em;
	text-align: justify;
	line-height: 1.4em;
	text-indent: 1em;
	margin: 10px 0 12px 16px;
}

.spirit-frame {
	margin: 10px 0 16px 0px;
	clear: both;
}

.concept-frame {
	width: 7.6em;
	margin: 18px 28px 10px -14px;
	float: left;
}



.spirit {
	color: #f90;
	font-size: 1.2em;
	text-shadow: 1px 1px 0px #777;
	margin-bottom: 2px;
}

.concept {
	color: #00B0F0;
	font-size: 1.1em;
	text-shadow: 1px 1px 0px #ccc;
	margin-bottom: 4px;
}

.spirit, .concept {
	font-weight: 900;
	font-family: "Bookman Old Style", 'IM Fell Great Primer', Georgia, serif;

}

.gloss {
	color: #333;
	font-size: 0.7em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	line-height: 1.4em;
}

.gloss i {
	color: #555;
}

#diagram {
	margin-left: 4em;
	width: 480px;
}

#date-place {
	margin: 40px 0 20px 20px;
	color: #777;
}


#shelf {
	margin: 40px 0 40px 0;
}

.volume {
	box-shadow: 0px 0px 3px rgba(10, 10, 10, 0.35);
	-moz-box-shadow: 0px 0px 3px rgba(10, 10, 10, 0.35);
	border: 5px solid #e6e6e6;
	border-radius: 10px;
		
	width: 122px;
	height: 160px;
	margin: 20px 0 0 23px;
	text-align: center;
	float: left;
}

.cover a:hover {
	background-position: 0 -120px;
}

.cover a {
	margin: 13px auto 0px auto;
	
	width: 96px;
	height: 96px;
	display:block;
	
	background-position: 0 0;
	border-radius: 3px;
}

#cover-i {
	background-image: url(../images/about.png);
}

#cover-i:hover {
	background-position: 0 -96px;
}

#cover-p {
	background-image: url(../images/values.png);
}

#cover-p:hover {
	background-position: 0 -96px;
}

#cover-m {
	background-image: url(../images/connect.png);
}

#cover-m:hover {
	background-position: 0 -96px;
}

.volume-title {
	display: inline-block;
	font: 17px/1em Helvetica, Arial, sans-serif;
	color: #333;
	margin: 20px
}
